.datepicker-days {
  padding: 10px 10px 0;

  .switch {
    text-align: center;
  }

  .today {
    color: $color-active-day;
  }

  .day {
    text-align: center;

    &.disabled {
      opacity: .5;
    }
  }

  .active {
    background-color: $color-active-day;
    color: $white;
  }
}
