.company-name {
  a {
    color: $color-green;
    font-size: 16px;
    font-weight: bold;
  }
}


.company-mbxs {
  text-align: center;

  .total-mbxs {
    font-size: 16px;
    font-weight: bold;
  }
}

table {
  .alert-free-mbxs {
    background: $color-red-deep;
    color: $white;
  }

  .warning-free-mbxs {
    background: $color-orange;
    color: $white;
  }

  .company-domain-row {
    .company-domain-cell {
      padding: 0 20px;
      text-align: center;
      vertical-align: middle;
    }
  }
}
