.domain-info {
  .domain-name {
    color: $color-green;
    font-size: 22px;
  }

  .account-name {
    color: $account-link-color;
    font-size: 16px;

    &:hover {
      color: $color-blue;
    }
  }
}

.add-button::before {
  content: '+';
  font-weight: bold;
  margin-right: 5px;
}

.empty-search {
  margin-top: 10px;
}

.mbx-plan {
  text-transform: capitalize;
}

.total-mbxs-per-domain {
  font-size: 16px;
  font-weight: bold;
}

.distribution-list-row {
  td {
    &.distribution-list-name {
      h4 {
        font-size: 14px;
      }
    }

    &.distribution-list-size {
      font-size: 14px;
      font-weight: bold;
      padding-top: 10px;
      text-align: center;
    }

    &.distribution-list-actions {
      padding-top: 10px;
      text-align: center;
    }
  }
}

.domain-name {
  font-size: 22px;
  font-weight: 600;
}

.layout-back {
  overflow: hidden;
  position: relative;

  .hpanel {
    .panel-body {
      background: transparent;
      border-bottom-color: transparent;
    }

    .panel-heading {
      background: transparent;
    }
  }

  .backstage {
    height: 100%;
    margin-top: -25px;
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    width: 50%;

    &.back-left {
      left: 0;
    }

    &.back-right {
      right: 0;
    }

    .backbg {
      background: $white;
      border-bottom: 1px solid $color-new-fields;
      border-left: 1px solid $color-new-fields;
      border-right: 1px solid $color-new-fields;
      height: 100%;
      position: relative;
      width: 100%;
    }
  }
}
