body {
  &.blank {
    background-color: $color-background;
  }
}

.login-container {
  margin: auto;
  max-width: 420px;
  padding-top: 6%;
}

.register-container {
  margin: auto;
  max-width: 720px;
  padding-top: 6%;
}

.lock-container {
  margin: auto;
  max-width: 420px;
  padding-top: 6%;
}

.error-container {
  margin: auto;
  max-width: 620px;
  padding-top: 6%;

  h1 {
    font-size: 44px;
  }
}

.big-icon {
  font-size: 120px;
}

.back-link {
  float: left;
  margin: 10px;
  width: 100%;
}

@media(max-width: 420px) {
  .login-container,
  .lock-container {
    margin: auto 10px;
  }
}

@media(max-width: 720px) {
  .register-container {
    margin: auto 10px;
  }

  .lock-container {
    padding-top: 15%;
  }
}

@media(max-width: 620px) {
  .error-container {
    margin: auto 10px;
  }
}
