.noplan {
  background: $black;
}

.account-info {
  h4 {
    margin: 0;
  }

  p {
    margin-bottom: 3px;
  }

  .pop3-download-since {
    margin-top: 10px;
  }
}

.mailbox-status {
  border: solid 1px;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.m-r {
  margin-right: 5px;
}

.label-locked {
  background: $color-violet;
}

.passwd-field {
  + meter {
    margin-top: 5px;
    width: 100%;
  }
}

.tag-status[class^='btn'] {
  border: 1px solid $border-color-tag;
  border-radius: 0 0 0 10px;
  color: $white;
  display: block;
  overflow: hidden;
  padding-left: 5px;

  span {
    background: $white;
    color: $black;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 2px;
    position: relative;

    &::before {
      border: 5px solid transparent;
      border-right-color: $white;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// scss-lint:disable PropertySortOrder
.status-plan[class^='btn'] {
  border-radius: 0 5px 5px 0;
  display: inline-block;
  margin-left: 5px;
  padding: 1px 5px 0;
  position: relative;

  &::before {
    border: 5px solid;
    border-color: inherit;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 100%;
  }
}
// scss-lint:enable PropertySortOrder
