.noplan {
  background: $black;
}

.account-info {
  p {
    margin-bottom: 3px;
  }
}

.mailbox-status {
  border: solid 1px;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.m-r {
  margin-right: 5px;
}

.label-locked {
  background: $color-violet;
}
